:root {
    font-size: 16px;
    scroll-behavior: smooth;;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: antiquewhite;
}

body {
    height: 100%;
    background-color: rgb(47, 79, 79);
}

a {
    text-decoration: none;
}

.container {
    margin: 8% auto;
    max-width: 550px;
}

.header {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

#add-icon {
    height: 28px;
    width: 28px;
}

form, .card {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 30px 20px;
    background-color: rgb(65, 111, 111);
    border-radius: 15px;
}

.shoe-icon {
    margin-right: 15px;
    height: 40px;
    width: 40px;
}

.card-icon {
    height: 20px;
    width: 20px;
}

.distance-display {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.distance-number, .distance-unit {
    text-align: center;
}

.card-controls {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-left: 2px antiquewhite solid;
    padding-left: 10px;
}

#edit-icon {
    margin-bottom: 5px;
}

form {
    flex-direction: column;
    align-items: flex-start;
}

#shoe-name-input, #shoe-type-input, #shoe-form-submit {
    height: 30px;
    width: 100%;
    border-radius: 10px;
    color: #222;
    margin: 10px 0;
}

#shoe-name-input {
    padding: 0 5px;
    margin: 10px 0 30px 0;
}

#shoe-form-submit {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 640px) {
    .container {
        margin: 8%;
    }
}